<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <script type="text/javascript" src="lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="__PUBLIC__/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>菜系列表</title>
</head>

<body>

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 菜单管理 <span class="c-gray en">&gt;</span> 菜系列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="menuList">
        <table class="table table-border table-bg">
            <thead>
                <tr>
                    <th class="">ID</th>
                    <th class="">菜系名称</th>
                    <th class="">所含菜品数量</th>
                    <th class="">操作</th>
                </tr>
            </thead>
            <tbody id="menuStyle"> 
            </tbody>
        </table>
    </div>
    <!-- 弹出框——修改菜系 -->
    <div id="myModal">
        <div id="myModal" class="modal fade in myModal">
            <div class="modal-body">
                <h4 id="myModalLabel" class="modifyMenuList">&nbsp;&nbsp;您确定将<strong id="menuStyleName">招牌菜</strong>修改为：</h4>

                <form action="" method="" class="form form-horizontal responsive" id="demoform">

                    <div class="row cl">
                        <div class="col-1"> </div>
                        <div class="formControls col-10">
                            <input type="text" class="input-text" placeholder="新的菜系名称" name="username" id="stylename" datatype="*4-16" nullmsg="菜系名不能为空">
                            <input type="text" class="input-text" placeholder="新的菜系名称" name="username" id="styleid" datatype="*4-16" nullmsg="菜系名不能为空" hidden>
                        </div>
                        <div class="col-1"> </div>
                    </div>
                    <div class="row cl"></div>
                    <div class="row cl"></div>
                    <div class="row cl">
                        <div class="col-11 form-label">
                            <button onClick="modifyMenuStyle();" class="btn btn-primary radius" id="save" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>&nbsp;&nbsp;
                            <button id="closeModal" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                        </div>
                        <div class="col-1"> </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-backdrop fade in" style="z-index: 1050;"></div>
    </div>
    <!-- /弹出框——修改菜系 -->
</body>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrap-modal/2.2.4/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/bootstrap-modal/2.2.4/bootstrap-modal.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/myCommon.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/cookmenu.js"></script>

</html>
